* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	height: 100vh;
	width: 100vw;
}

body {
	height: 100%;
	width: 100%;
}

.description {
	height: 20%;
	text-align: center;
}

.map-wrapper {
	height: 80%;
	width: 100%;
}

#map { 
	height: 100%; 
}

.description {
	display: flex;
	flex-direction: column;
}

.title {
	flex-grow: 1;
}

.date{
	padding: 12px 4px;
}

.ubication-wrapper p {
	font-weight: bold;
}

.ubication-wrapper span {
	font-weight: normal;
}

.position {
	background: #2e2e2e;
	color: #ffffff;
	padding: 8px;
}
